@model UsersModel
@{
    ViewData["Title"] = "Eliminar Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @ViewData["Title"]
</h2>

<div class="card">
    <div class="card-header">
        Eliminar Usuario
    </div>
    <div class="card-body">
        <form asp-action="Delete" asp-controller="Users" method="post">
            <input asp-for="Id_User" type="hidden" class="form-control" />
            <div class="mb-3">
                ¿Deseas eliminar el usuario : @Html.DisplayTextFor(m => m.Username_User) ?
            </div>
            <button type="submit" class="btn btn-danger"><i class="bi bi-x-square"></i> Eliminar</button>
            <a asp-action="List" asp-controller="Users" class="btn btn-primary"><i class="bi bi-list-task"></i> Regresar a lista</a>
        </form>
    </div>
</div>